html {
	height: 100%;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing   : border-box;
	box-sizing        : border-box;
	padding           : 0;
	margin            : 0;
}

body {
	font-family: 'calibriregular';
	background : #fcfcfc;
	font-weight: 400;
	font-size  : 100%;
	color      : #333;
	height     : 100%;
}

.js body {
	overflow: hidden;
}

a {
	color          : #555;
	text-decoration: none;
	outline        : none;
}

a:hover {
	color: #000;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width    : 100%;
	height   : 100%;
	max-width: 100%;
}

.bb-bookblock {
	/* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); */
	box-shadow: 0 0 15px rgba(40, 40, 40, 0.7);
	position  : relative;
}

.container {
	position             : relative;
	left                 : 0px;
	-webkit-transition   : left 0.3s ease-in-out;
	-o-transition        : left 0.3s ease-in-out;
	transition           : left 0.3s ease-in-out;
	margin               : 0px auto;
	padding              : 10px;
	/* width             : 800px; */
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}

.menu-panel {
	background : #400040;
	width      : 240px;
	height     : 100%;
	height     : 100vh;
	position   : fixed;
	z-index    : 1000;
	top        : 0;
	left       : 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	overflow-y : scroll;
}

.js .menu-panel {
	position: absolute;
	left    : -240px;
}

.menu-panel h3 {
	font-size  : 1.4em;
	padding    : 20px;
	font-weight: 300;
	color      : #fff;
	box-shadow : inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.menu-toc {
	list-style: none;
}

.menu-toc li a {
	display      : block;
	color        : #fff;
	font-size    : 16px;
	line-height  : 120%;
	padding      : 10px 20px;
	cursor       : pointer;
	background   : #400040;
	border-bottom: 1px solid #75176E;
}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a {
	background: #75176E;
}

.menu-panel div {
	margin-top: 20px;
}

.menu-panel div a {
	text-transform: uppercase;
	font-size     : 0.7em;
	line-height   : 1;
	padding       : 5px 20px;
	display       : block;
	border        : none;
	color         : #75176E;
	letter-spacing: 1px;
	font-weight   : 800;
	text-shadow   : 0 1px rgba(255, 255, 255, 0.2);
}

.menu-panel div a:hover {
	background : inherit;
	color      : #fff;
	text-shadow: none;
}

.bb-custom-wrapper nav {
	top     : 46%;
	left    : 0;
	width   : 100%;
	position: absolute;
	z-index : 1000;
}

.bb-custom-wrapper nav span,
.menu-button {
	position        : absolute;
	width           : 24px;
	height          : 24px;
	top             : 0;
	left            : 10px;
	background      : rgba(255, 255, 255, 0.3);
	border-radius   : 50%;
	/* color        : #fff; */
	color           : #400040;
	line-height     : 26px;
	text-align      : center;
	speak           : none;
	font-weight     : bold;
	cursor          : pointer;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background: #000;
}

.bb-custom-wrapper nav span:last-child {
	right: 10px;
	left : auto;
}

.menu-button {
	z-index       : 1000;
	left          : 20px;
	top           : 20px;
	text-indent   : -9000px;
	/* display    : none; */
}

.menu-button:after {
	position  : absolute;
	content   : '';
	width     : 50%;
	height    : 2px;
	background: #fcfcfc;
	top       : 50%;
	margin-top: -1px;
	left      : 25%;
	box-shadow: 0 -4px #fcfcfc, 0 4px #fcfcfc;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content,
.content {
	position              : absolute;
	/* top                : 60px; */
	top                   : 0px;
	left                  : 0;
	width                 : 100%;
	/* bottom             : 50px; */
	bottom                : 0px;
	overflow              : hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	background            : url('../images/layout/purpleBg.jpg') no-repeat center bottom;
	background-size       : cover;
}

.awards-content,
.js .content.awards-content {
	background     : url('../images/layout/awardsBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.stats-content,
.js .content.stats-content {
	background     : url('../images/layout/statsBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.pensioner-content,
.js .content.pensioner-content {
	background     : url('../images/layout/greenBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.students-content,
.js .content.students-content {
	background     : url('../images/layout/studentsBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.culture-content,
.js .content.culture-content {
	background     : url('../images/layout/cultureBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.health-content,
.js .content.health-content {
	background     : url('../images/layout/healthBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.utility-content,
.js .content.utility-content {
	background     : url('../images/layout/utilityBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.public-greivance-content,
.js .content.public-greivance-content {
	background     : url('../images/layout/publicGreivanceBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.finance-content,
.js .content.finance-content {
	background     : url('../images/layout/financeBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.transport-content,
.js .content.transport-content {
	background     : url('../images/layout/transportBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.womenChildren-content,
.js .content.womenChildren-content {
	background     : url('../images/layout/womenChildrenBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.youth-content,
.js .content.youth-content {
	background     : url('../images/layout/youthBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.police-content,
.js .content.police-content {
	background     : url('../images/layout/policeBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.passport-content,
.js .content.passport-content {
	background     : url('../images/layout/passportBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.general-content,
.js .content.general-content {
	background     : url('../images/layout/generalBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.state-content,
.js .content.state-content {
	background     : url('../images/layout/stateBg.jpg') no-repeat center bottom;
	background-size: cover;
}

.shadow-overlay {
	position            : absolute;
	top                 : 0px;
	left                : 0px;
	/* min-height       : 100vh; */
	height              : 100%;
	width               : 93px;
	z-index             : 5;
	pointer-events      : none;
	-webkit-transform   : translate3d(0, 0, 0);
	background-image    : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAUCAYAAAB7wJiVAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDIgNzkuMTYwOTI0LCAyMDE3LzA3LzEzLTAxOjA2OjM5ICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+nhxg7wAAAIxJREFUWIXt0UEKhDAUg+EkvVbPM/c/gXExM5uiRXdZ5IPyHhVR+Dnn/AAwvvzwHC/2p/PuziQPkiBpSf7PzcEYw5J8Ndd9d3fzHFfv/HYs38P6b8u0JJA0SQgVpUHCNEiYBgnTIGEaJEyDhGmQMA0SpkHCNEiYBgnTIGEaJEyDhGmQMA0SpkHCNEiYE/0YW3iMnCeuAAAAAElFTkSuQmCC");
	filter              : progid:DXImageTransform.Microsoft.Gradient(GradientType=1, EndColorStr='#00C8C8C8', StartColorStr='#CC5D5D5D');
	background-repeat   : repeat-y;
	background-size     : 100% 100%;
}

@media screen and (max-width: 800px) {
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}

	.menu-button {
		display: block;
	}

	.js .content,
	.content {
		background-size: 100% 100% !important;
	}
}

@media screen and (max-width: 480px) {

	.menu-panel,
	.content {
		font-size: 75%;
	}

}

.cp-header {
	display : block;
	position: fixed;
	top     : 0;
	left    : 0;
	width   : 100%;
	margin  : 0;
	padding : 0;
	z-index : 1;
}

.cp-header ul {
	display: block;
	margin : 0;
	padding: 50px;
}

.cp-header ul li {
	display       : inline-block;
	*display      : inline;
	zoom          : 1;
	vertical-align: middle;
}

.cp-header ul li a {
	display: block;
	margin : 0;
	padding: 0;
}

.cp-header ul li:first-child a {
	padding     : 0 10px 0 0;
	margin-right: 10px;
	border-right: 1px solid #fcfcfc
}

.cp-header ul li a img {
	display   : block;
	margin    : 0;
	padding   : 0;
	max-width : 100%;
	max-height: 30px;
}


.cp {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	position  : relative;
}

.cp:after {
	position  : absolute;
	z-index   : 999;
	width     : 10px;
	height    : calc(100% - 5px);
	content   : "";
	top       : 5px;
	left      : 0;
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.cp-content {
	/* height            : calc(100vh - 20px); */
	height            : calc(100vh - 150px);
	width             : 100%;
	/* background     : url('../images/layout/purpleBg.jpg') no-repeat center bottom;
	background-size   : cover; */
	max-width         : 100%;
	margin            : 0 auto;
	display           : flex;
	justify-content   : center;
	align-items       : center;
}

.cp-content img {
	width     : auto;
	max-height: 350px;
	margin-top: 100px
}


.cp-footer {
	position       : fixed;
	width          : 100%;
	bottom         : 0;
	z-index        : 0;
	min-height     : 42%;
	background     : url('../images/layout/cover-footer-bg.png') no-repeat;
	background-size: 100% 100%;
	display        : flex;
	justify-content: space-between;
	align-items    : end;
	padding        : 10px 40px;
	color          : #000;
}

.cp-footer img {
	width     : auto;
	max-width : 100%;
	max-height: 120px;
	position  : absolute;
	bottom    : 5%;
	right     : 40px;
}

.cp-download-text {
	min-width  : 40%;
	text-align : left;
	display    : flex;
	align-items: center;
	position   : absolute;
	bottom     : 5%;
	left       : 40px;
}

.cp-download-text p,
.cp-download-text h4 {
	font-size  : 1.4rem;
	font-family: 'helveticabold_condensed';
	padding    : 0;
	margin     : 0;
	line-height: 120%;
	align-items: center;
}

.cp-download-text p {
	font-size   : 0.9rem;
	border-right: 1px solid #000;
	padding     : 0 10px 0 0;
	margin      : 0 10px 0 0;
}

.cp-download-text p span {
	display: block;
}

.blank-image-page {
	display: block;
	height : calc(100vh - 20px);
}

.blank-image-page img {
	display   : block;
	margin-top: 0;
	padding   : 0;
	height    : 100%;
	width     : 100%;
	object-fit: cover;
}

.inner-page {
	background: #fcfcfc;
	padding   : 50px;
}

.image-box {
	display   : block;
	margin-top: 0;
	padding   : 0
}

.image-box img {
	display       : inline-block;
	*display      : inline;
	zoom          : 1;
	vertical-align: middle;
	width         : 49%;
}

.image-left {
	border-left: 10px solid #e3c16c;
}

.image-right {
	border-right: 10px solid #e3c16c;
	float       : right;
	clear       : both;
}

.ip-content {
	padding    : 20px 7% 170px;
	min-height : calc(100vh - 20px);
	height     : 100%;
	background : #fcfcfc;
	position   : relative;
	/* overflow: scroll; */
}

.ip-culture-content {
	background-image   : url('../images/culture-content-bg.png');
	background-size    : cover;
	background-repeat  : repeat;
	background-position: center center;
}

.last-page-content {
	width     : 100%;
	height    : calc(100vh - 138px);
	background: #fff;
	padding   : 1rem 12rem;
	text-align: center;
}

.last-page-content .umang-logo {
	max-height   : 200px;
	margin-bottom: 2rem;
}

.not-found .last-page-content .umang-logo {
	max-height   : 120px;
	margin-bottom: 2rem;
}

.last-page-content p {
	font-style : italic;
	font-size  : 13px;
	line-height: 120%;
	margin     : 0;
}

.not-found .last-page-content p {
	font-style : normal;
	font-size  : 2rem;
	font-family: 'calibribold';
	line-height: 120%;
	margin     : 0;
}

.last-page-footer {
	position  : fixed;
	bottom    : 0;
	width     : 100%;
	text-align: center;
	padding   : 2rem 0;
}

.last-page-footer p {
	font-size  : 13px;
	line-height: 140%;
	margin     : 0;
}

.overlay {
	position: absolute;
	height  : calc(100vh - 80px);
	display : block;
	z-index : 0;
	width   : 100%;
	left    : 0;
	top     : 0;
}

.farmer-bg {
	background     : url('../images/farmer-bg.png') no-repeat center bottom;
	background-size: 100% auto;
}

.pensioner-bg {
	background     : url('../images/pensioner-bg.png') no-repeat center center;
	background-size: 100% auto;
}

.students-bg {
	background     : url('../images/students-bg.png') repeat center center;
	background-size: 100% auto;
}

.health-bg {
	background     : url('../images/health-bg.png') repeat center center;
	background-size: 100% auto;
}

.utility-bg {
	background     : url('../images/utility-bg.png') repeat center center;
	background-size: 100% auto;
}

.public-greivance-bg {
	background     : url('../images/public-greivance-bg.png') repeat center center;
	background-size: 100% auto;
}

.finance-bg {
	background     : url('../images/finance-bg.png') repeat center center;
	background-size: 100% auto;
}

.transport-bg {
	background     : url('../images/transport-bg.png') repeat center center;
	background-size: 100% auto;
}

.womenChildren-bg {
	background     : url('../images/womenChildren-bg.png') repeat center center;
	background-size: 100% auto;
}

.youth-bg {
	background     : url('../images/youth-bg.png') repeat center center;
	background-size: 100% auto;
}

.police-bg {
	background     : url('../images/police-bg.png') repeat center center;
	background-size: 100% auto;
}

.passport-bg {
	background     : url('../images/passport-bg.png') repeat center center;
	background-size: 100% auto;
}

.general-bg {
	background     : url('../images/general-bg.png') repeat center center;
	background-size: 100% auto;
}

.state-bg {
	background     : url('../images/state-bg.png') repeat center center;
	background-size: 100% auto;
}

.ip-content h2 {
	font-size  : 24px;
	font-family: 'calibribold';
	font-weight: normal;
}

.ip-content p {
	margin-bottom: 10px;
	font-size    : 14px;
	text-align   : justify;
	line-height  : 140%;
}

.ip-content p strong {
	font-family: 'calibribold';
	font-weight: normal;
}

.ip-content .culture-img {
	display : block;
	width   : 260px;
	height  : auto;
	margin  : 3rem auto;
	/* position: absolute; */
	bottom  : 0px;
	left    : calc(50% - 130px);
}

.ip-content ul,
.ip-content ol {
	margin-left: 20px;
}

.ip-content ul li,
.ip-content ol li {
	font-size : 14px;
	text-align: justify;
}

.ip-content--state-union h2 {
    font-size: 50px;
}
.ip-content--state-union .india-map {
    width: 30%;
}
@media (max-width:767px) {
    .ip-content--state-union h2 {
        font-size: 30px;
    }
}
@media (max-width:576px) {
    .ip-content--state-union h2 {
        font-size: 24px;
    }
}

.state-content .ip-content ul.state-list li {
	text-align : left;
	color      : #1b556b !important;
	font-family: 'calibribold';
}

.ip-footer {
	display           : flex;
	/* position       : relative; */
	position          : fixed;
	bottom            : 0;
	left              : 0;
	justify-content   : space-between;
	padding-bottom    : 10px;
	height            : 150px;
	margin-top        : -70px;
	width             : 100%;
}

.ip-footer:after {
	background        : url('../images/layout/footer-bg.png') no-repeat center bottom;
	background-size   : 100% 100%;
	position          : absolute;
	z-index           : 0;
	content           : "";
	/* top            : -30px; */
	top               : 0px;
	left              : 0;
	width             : 100%;
	height            : 100%;
}

.ip-awards-footer:after {
	background     : url('../images/layout/awards-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-stats-footer:after {
	background     : url('../images/layout/stats-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-pensioner-footer:after {
	background     : url('../images/layout/pensioner-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-students-footer:after {
	background     : url('../images/layout/students-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-culture-footer:after {
	background     : url('../images/layout/culture-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-health-footer:after {
	background     : url('../images/layout/health-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-utility-footer:after {
	background     : url('../images/layout/utility-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-public-greivance-footer:after {
	background     : url('../images/layout/public-greivance-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-finance-footer:after {
	background     : url('../images/layout/finance-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-transport-footer:after {
	background     : url('../images/layout/transport-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-womenChildren-footer:after {
	background     : url('../images/layout/womenChildren-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-youth-footer:after {
	background     : url('../images/layout/youth-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-police-footer:after {
	background     : url('../images/layout/police-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-passport-footer:after {
	background     : url('../images/layout/passport-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-general-footer:after {
	background     : url('../images/layout/general-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-state-footer:after {
	background     : url('../images/layout/state-footer-bg.png') no-repeat center bottom;
	background-size: 100% 100%;
}

.ip-footer img {
	display   : block;
	margin    : 0 auto;
	position  : relative;
	z-index   : 1;
	width     : auto;
	max-height: 140px;
}

.graph {
	display   : block;
	margin    : 0 auto;
	width     : auto;
	max-width : 100%;
	max-height: 400px;
}

.heading-gradient {
	display                : block;
	text-align             : center;
	font-size              : 7rem;
	line-height            : 5rem;
	color                  : #ededed;
	margin                 : 0;
	font-family            : 'rajdhanibold';
	text-transform         : uppercase;
	background             : -webkit-linear-gradient(#fcfcfc, #ededed);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.with-heading {
	margin-top: -8px
}

.img-bg-cont {
	background   : #e0e0e0;
	padding      : 0 5px 5px;
	border-radius: 20px;
}

.img-bg-cont img {
	display      : block;
	margin       : 0;
	padding      : 0;
	width        : 100%;
	border-radius: 20px;
	height       : auto;
}

.caption,
.ip-content p.caption {
	font-size  : 12px;
	line-height: 120%;
	color      : #1c1d21;
	text-align : center !important;
	margin-top : 5px;
}

.single-image {
	display   : block;
	margin    : 0 auto;
	width     : auto;
	max-width : 100%;
	max-height: 450px;
}

.overlay-img-block {
	z-index : 1;
	position: relative;
}

.farmer-img {
	max-height: 280px;
	margin-top: 110px;
}

.pensioner-img {
	max-height: 300px;
	margin-top: 100px;
}

.students-img {
	max-height: 340px;
	margin-top: 80px;
}

.health-img {
	max-height: 340px;
	margin-top: 80px;
}

.utility-img {
	max-height: 340px;
	margin-top: 80px;
}

.transport-img {
	max-height: 340px;
	margin-top: 80px;
}

.public-greivance-img {
	max-height: 340px;
	margin-top: 80px;
}

.finance-img {
	max-height: 340px;
	margin-top: 80px;
}

.womenChildren-img {
	max-height: 340px;
	margin-top: 80px;
}

.youth-img {
	max-height: 340px;
	margin-top: 80px;
}

.police-img {
	max-height: 340px;
	margin-top: 80px;
}

.passport-img {
	max-height: 340px;
	margin-top: 80px;
}

.general-img {
	max-height: 340px;
	margin-top: 80px;
}

.state-img {
	max-height: 400px;
	margin-top: 0px;
}

.service-brief-cont {
	display    : flex;
	padding    : 5px 10px 5px 70px;
	align-items: center;
	position   : relative;
	width      : 94%;
	margin-left: 6%;
	min-height : 130px;
	height     : auto;
}

.service-brief-cont h4 {
	color        : #7b5c37;
	font-size    : 1rem;
	margin-bottom: 5px;
	font-family  : 'calibribold';
}

.service-brief-cont p {
	font-size    : 13px;
	line-height  : 120%;
	margin-bottom: 2px;
	text-align   : left;
}

.service-brief-cont ul {
	margin-left: 20px;
}

.service-brief-cont ul li {
	font-size    : 13px;
	text-align   : left;
	line-height  : 120%;
	margin-bottom: 3px;
}

.service-brief-cont p.text-bold {
	font-size: 14px;
}

.service-brief-cont.col-md.col-right {
	margin-left: 4rem !important;
}

.text-bold {
	font-family: 'calibribold' !important;
}

.service-brief-cont .image-block,
.top-service-brief-image {
	border-radius: 50%;
	width        : 120px;
	height       : 120px;
	padding      : 6px;
	background   : rgb(156, 126, 81);
	position     : absolute;
	left         : -55px;
	top          : 0;
	top          : calc(50% - 60px);
}

.bg-radial-gradient-brown {
	background: rgb(156, 126, 81);
	background: -moz-radial-gradient(center, ellipse cover, rgba(156, 126, 81, 1) 0%, rgba(88, 56, 27, 1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(156, 126, 81, 1) 0%, rgba(88, 56, 27, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(156, 126, 81, 1) 0%, rgba(88, 56, 27, 1) 100%);
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c7e51', endColorstr='#58381b', GradientType=1);
}

.text-brown {
	color: #7b5c37 !important;
}

.text-green {
	color: #007c3a !important;
}

.text-blue {
	color: #2587c8 !important;
}

.text-purple {
	color: #6b1b8c !important;
}

.text-utility-blue {
	color: #2c91af !important;
}

.text-public-greivance-green {
	color: #236e66 !important;
}

.text-finance-red {
	color: #c23e30 !important;
}

.text-transport-blue {
	color: #4a6b99 !important;
}

.text-culture-brown {
	color: #8c4b06 !important;
}

.text-police-orange {
	color: #fc3900 !important;
}

.text-passport-blue {
	color: #115c57 !important;
}

.text-general-purple {
	color: #9755a2 !important;
}

.text-state-blue {
	color: #1b556b !important;
}

.text-grey {
	color: #3f4f63 !important;
}

.text-youth-grey {
	color: #799a86 !important;
}

.bg-green {
	background: #007c3a !important;
}

.bg-blue {
	background: #2587c8 !important;
}

.bg-health-grey {
	background: #324359 !important;
	background: -moz-linear-gradient(top, #324359 0%, #bdbdbd 100%) !important;
	background: -webkit-linear-gradient(top, #324359 0%, #bdbdbd 100%) !important;
	background: linear-gradient(to bottom, #324359 0%, #bdbdbd 100%) !important;
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#324359', endColorstr='#bdbdbd', GradientType=0) !important;
}

.bg-utility-blue {
	background: #165365 !important;
	background: -moz-linear-gradient(top, #165365 0%, #2f98b7 100%) !important;
	background: -webkit-linear-gradient(top, #165365 0%, #2f98b7 100%) !important;
	background: linear-gradient(to bottom, #165365 0%, #2f98b7 100%) !important;
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#165365', endColorstr='#2f98b7', GradientType=0) !important;
}

.bg-transport-blue {
	background: #1f3b62 !important;
	background: -moz-linear-gradient(top, #1f3b62 0%, #6589bb 100%) !important;
	background: -webkit-linear-gradient(top, #1f3b62 0%, #6589bb 100%) !important;
	background: linear-gradient(to bottom, #1f3b62 0%, #6589bb 100%) !important;
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f3b62', endColorstr='#6589bb', GradientType=0) !important;
}

.bg-public-greivance-green {
	background: #085b53 !important;
	background: -moz-linear-gradient(top, #085b53 0%, #7daba3 100%) !important;
	background: -webkit-linear-gradient(top, #085b53 0%, #7daba3 100%) !important;
	background: linear-gradient(to bottom, #085b53 0%, #7daba3 100%) !important;
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#085b53', endColorstr='#7daba3', GradientType=0) !important;
}

.bg-womenChildren-purple {
	background: #760384 !important;
	background: -moz-linear-gradient(top, #760384 0%, #2f98b7 100%) !important;
	background: -webkit-linear-gradient(top, #760384 0%, #2f98b7 100%) !important;
	background: linear-gradient(to bottom, #760384 0%, #2f98b7 100%) !important;
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#760384', endColorstr='#2f98b7', GradientType=0) !important;
}

.bg-youth-grey {
	background: #70937f !important;
	background: -moz-linear-gradient(top, #70937f 0%, #a5bcaa 100%) !important;
	background: -webkit-linear-gradient(top, #70937f 0%, #a5bcaa 100%) !important;
	background: linear-gradient(to bottom, #70937f 0%, #a5bcaa 100%) !important;
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#70937f', endColorstr='#a5bcaa', GradientType=0) !important;
}

.bg-police-orange {
	background: #fc2a00 !important;
	background: -moz-linear-gradient(top, #fc2a00 0%, #fcac00 100%) !important;
	background: -webkit-linear-gradient(top, #fc2a00 0%, #fcac00 100%) !important;
	background: linear-gradient(to bottom, #fc2a00 0%, #fcac00 100%) !important;
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc2a00', endColorstr='#fcac00', GradientType=0) !important;
}

.bg-passport-blue {
	background: #01485b !important;
	background: -moz-linear-gradient(top, #01485b 0%, #297a52 100%) !important;
	background: -webkit-linear-gradient(top, #01485b 0%, #297a52 100%) !important;
	background: linear-gradient(to bottom, #01485b 0%, #297a52 100%) !important;
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#01485b', endColorstr='#297a52', GradientType=0) !important;
}

.bg-general-purple {
	background: #561c60 !important;
	background: -moz-linear-gradient(top, #561c60 0%, #c47dd0 100%) !important;
	background: -webkit-linear-gradient(top, #561c60 0%, #c47dd0 100%) !important;
	background: linear-gradient(to bottom, #561c60 0%, #c47dd0 100%) !important;
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#561c60', endColorstr='#c47dd0', GradientType=0) !important;
}

.bg-finance-red {
	background: #c23e30 !important;
}

.top-service-brief-image {
	left: calc(50% - 68px);
	top : 10px;
}

.service-brief-cont .image-block img,
.top-service-brief-image img {
	display      : block;
	margin       : 0;
	width        : 100%;
	height       : 100%;
	object-fit   : contain;
	border-radius: 50%;
	background   : #F7F7F7;
	padding      : 8px;
}

.service-brief-cont.kisan-suvidha-cont {
	align-items: flex-start;
}

.br-1 {
	border-right: 1px solid #ddd;
}

.bg-gradient-gray.bg-gray-container {
	padding      : 20px;
	border-radius: 30px;
}

.bg-gradient-gray {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ededed+0,fcfcfc+100 */
	background: rgb(237, 237, 237);
	/* Old browsers */
	background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(252, 252, 252, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(252, 252, 252, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(252, 252, 252, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#fcfcfc', GradientType=0);
	/* IE6-9 */
}

.bg-gray {
	background: #f4f4f4;
}

.mt-6 {
	margin-top: 4rem !important;
}

.mb-6 {
	margin-top: 4rem !important;
}

.ml-6 {
	margin-top: 4rem !important;
}

.mr-6 {
	margin-top: 4rem !important;
}

.mx-6 {
	margin-top: 4rem !important;
}

.my-6 {
	margin-top: 4rem !important;
}

.two-col-row {
	margin-left: 3% !important;
}

.bg-white {
	background: #fff !important;
}

.animate-opacity {
	-webkit-animation-duration : 1s;
	animation-duration         : 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode        : both;
	-webkit-animation-name     : flash;
	animation-name             : flash;
}


@-webkit-keyframes flash {

	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes flash {

	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@media screen and (max-width: 800px) {
	.container {
		width: 100%;
	}


	/* .cp-footer {
		background-size: 100%;
		min-height     : 140px;
		position       : fixed;
		padding-top    : 140px;
	} */

	.cp-footer:after {
		background: #fcfcfc;
		width     : 100%;
		height    : 20%;
		content   : "";
		position  : absolute;
		z-index   : -1;
		bottom    : 0;
		left      : 0;
	}

	.cp-footer img {
		height: 100px;
	}

	.image-box img {
		display      : block;
		width        : 100%;
		margin-bottom: 10px;
	}

	.ip-content {
		min-height: calc(100vh - 20px);
		height    : auto;
	}

	.farmer-bg {
		background-size    : cover;
		background-position: center;
	}

	.farmer-img {
		max-height: 100%;
		max-width : 80%;
	}
}

@media screen and (max-width: 480px) {
	.cp-content {
		height        : calc(100vh - 100px);
		padding-top   : 60px;
		padding-bottom: 60px;
	}

	.cp-content img {
		max-height: 250px;
		margin-top: 0;
	}

	.cp-footer {
		text-align     : center;
		flex-direction : column;
		justify-content: end;
		align-items    : center;
		background-size: 100%;
		min-height     : 100px;
		position       : fixed;
		bottom         : 0;
		margin-top     : 0px;
	}

	.cp-footer:after {
		background: #fcfcfc;
		width     : 100%;
		height    : 60%;
		content   : "";
		position  : absolute;
		z-index   : -1;
		bottom    : 0;
		left      : 0;
	}

	.cp-download-text {
		display      : block;
		text-align   : center;
		margin-bottom: 10px;
		position: static;
	}

	.cp-download-text p {
		margin    : 0 0 5px;
		padding   : 0;
		border    : 0;
		text-align: center;
	}

	.cp-footer {
		padding    : 10px 20px;
		padding-top: 100px;
	}

	.cp-header ul {
		padding: 20px;
	}

	.cp-footer img {
		height: 60px;
		position: static;
	}

	.ip-content {
		padding-bottom: 90px;
		min-height    : calc(100vh - 20px);
		height        : auto;
	}

	.ip-footer {
		position: relative;
		bottom  : 0;
		height  : 130px;
	}

	.last-page-content {
		padding: 1rem 2rem
	}

	.last-page-footer {
		position: relative;
	}

	.ip-footer:after {
		background-size: contain;
		top            : -60px;
	}

	.ip-footer img {
		max-height: 80px;
		margin-top: 0px;
	}

	.graph {
		max-width: 90%;
	}

	.heading-gradient {
		font-size  : 2.8rem;
		line-height: 2.5rem;
	}

	.two-col-row {
		margin: 0 !important;
	}

	.service-brief-cont {
		width        : 100%;
		margin-left  : 0;
		padding      : 60px 20px 20px;
		height       : auto;
		margin-top   : 60px !important;
		margin-bottom: 0;
		text-align   : left;
	}

	.service-brief-cont.kisan-suvidha-cont {
		margin-top: 0 !important;
	}

	.service-brief-cont .image-block {
		width  : 100px;
		height : 100px;
		top    : -50px;
		padding: 5px;
		left   : calc(50% - 50px)
	}

	.service-brief-cont.col-md.col-right {
		margin-left: 0 !important
	}

	.br-xs-0 {
		border-right: 0;
	}

	.ip-content .culture-img {
		bottom: -20px;
		width : 240px;
		left  : calc(50% - 120px);
	}

	.ip-culture-content .service-brief-cont {
		margin-top: 30% !important;
	}

	.overlay {
		height: calc(100vh - 30px);
	}


	.police-img {
		max-width: 260px;
	}
}

@media screen and (max-width:320px) {

	/* .cp-content{
		height: 100vh;
	} */
	.cp-footer::after {
		height: 70%;
	}

	.cp-footer {
		position: relative;
		z-index : 9;
	}

	.ip-footer::after {
		top: -40px;
	}

	.ip-content {
		padding-bottom: 70px;
		min-height    : calc(100vh - 130px);
	}

	.single-image {
		max-width: 90% !important;
	}
}
