@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Michroma&family=Noto+Sans+Devanagari:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #ebeaea!important;
}
.main-sitemap {
    background: #fff;
    margin: 0 auto;
    max-width: 870px;
    padding: 5px;
    font: 14px "Arial", Tahoma, sans-serif;
    min-height: 100%;
}

.main-sitemap h1 {
    font-size: 26px;
    font-family:sans-serif;
    margin:2rem 0;
}

div.footerinfo {
    margin-top: 16px;
    color: #666;
    font-size: 12px;
    text-align: right;
}

    div.footerinfo * {
        font-size: 12px;
    }

.sitemap {
    margin: 5em 0;
    
}

.primaryNav {
    clear: both;
    width: 100%;
    margin-top: 3em 0;
}

    .primaryNav #home {
        position: absolute;
        margin-top: -3em;
        margin-bottom: 0;
        min-width: 14.5em;
        width: 100%;
    }

        .primaryNav #home:before {
            display: none;
        }

        .primaryNav #home.long-cell:before {
            display: block;
            position: absolute;
            border-width: 0;
            border-color: #ccc;
            border-style: solid;
            z-index: 0;
            border-left-width: 2px;
            border-top-width: 2px;
            top: 1.375em;
        }

@media screen and (max-width: 1111px) {
    .primaryNav #home.long-cell:before {
        left: -40px;
        box-shadow: -10px 0 0 0 #fff;
    }
}

.primaryNav #home img {
    float: left;
    margin-right: 4px;
}

.primaryNav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    padding-inline-start: 40px;
}

.primaryNav li {
    flex: 1;
    flex-basis: 14.5em;
    padding-right: 1.25em;
    position: relative;
    min-width: 14.5em;
}

    .primaryNav li ul li {
        min-width: 9.5em;
    }

        .primaryNav li ul li ul li {
            min-width: 10.5em;
        }

.primaryNav > ul > li {
    margin-top: 3em;
}

.primaryNav li a {
    margin: 0;
    padding: 0.875em 0.9375em 0.9375em 0.9375em;
    display: block;
    font-size: 1.019375em;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 3px 3px #f1e4ed;
    text-decoration: none;
    position:relative;
    z-index:2;
    font-weight:800;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

    .primaryNav li a:hover {
        box-shadow: 0 3px 3px 1px #f1e4ed;
    }

.primaryNav a:link:after,
.primaryNav a:visited:after,
.utilityNav a:link:after,
.utilityNav a:visited:after {
    display: block;
    font-weight: 600;
    font-size: 0.75em;
    margin-top: 0.25em;
    word-wrap: break-word;
    color: #666;
}

.primaryNav ul ul {
    display: block;
}

    .primaryNav ul ul li {
        padding-top: 0.9875em;
        padding-right: 0;
    }

        .primaryNav ul ul li:first-child {
            padding-top: 2em;
        }

    .primaryNav ul ul ul {
        margin-top: 0.6em;
        padding-top: 0.6em;
        padding-bottom: 0.625em;
    }

        .primaryNav ul ul ul li {
            padding-top: 0.3125em;
            padding-bottom: 0.3125em;
        }

            .primaryNav ul ul ul li a {
                font-size: 0.75em;
                padding: 0.75em;
                min-width: 90%;
                width: auto;
                margin-right: 0;
                margin-left: auto;
            }

            .primaryNav ul ul ul li:first-child {
                padding-top: 1em;
            }

            .primaryNav ul ul ul li a:link:after,
            .primaryNav ul ul ul li a:visited:after {
                font-size: 0.75em;
            }

        .primaryNav ul ul ul ul {
            margin-top: 0;
            padding-top: 0.3125em;
            padding-bottom: 0.3125em;
        }

            .primaryNav ul ul ul ul li a {
                padding: 0.75em;
                min-width: 80%;
                width: auto;
            }

                .primaryNav ul ul ul ul li a:link:after,
                .primaryNav ul ul ul ul li a:visited:after {
                    display: none;
                }

.primaryNav ul li:after,
.primaryNav ul li:before,
.primaryNav ul:after,
.primaryNav ul:before {
    display: block;
    content: "";
    position: absolute;
    border-width: 0;
    border-color: #ccc;
    border-style: solid;
    z-index: 0;
}

.primaryNav > ul > li:before {
    height: 1.375em;
    top: -1.375em;
    right: calc(50% + 0.625em);
    width: calc(100% - 2px);
    border-top-width: 2px;
    border-right-width: 2px;
}

.primaryNav > ul > li:first-child + li:before {
    border-top-width: 0;
    height: 5em;
    top: -5em;
}

.primaryNav ul ul li:after {
    width: 50%;
    height: 0.9875em;
    top: 0;
    right: 1px;
    border-left-width: 2px;
}

.primaryNav ul ul li:first-child:before {
    width: 50%;
    height: 1.3125em;
    top: 0.9875em;
    right: 1px;
    border-left-width: 2px;
}

.primaryNav > ul > li:last-child:after {
    border-bottom-width: 0;
}

.primaryNav ul ul ul li:before {
    width: calc(50% - 15px) !important;
    height: calc(100% - 2px);
    top: -50%;
    left: 0;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

.primaryNav ul ul ul li:first-child:before {
    height: 2.125em;
    top: -1px;
    border-top-width: 2px;
}

.primaryNav ul ul ul:before {
    width: 50%;
    height: 1.25em;
    top: -10px;
    right: 1px;
    border-left-width: 2px;
}

.primaryNav ul ul ul li:after {
    border-width: 0;
}

.primaryNav ul ul ul ul li:before,
.primaryNav ul ul ul ul li:first-child:before {
    display: none;
}

.primaryNav ul ul ul ul:before {
    width: 1px;
    height: calc(100% + 2.5em);
    top: -2.5em;
    left: 0;
    border-left-width: 2px;
}

@media screen and (max-width: 30em) {
    .primaryNav ul {
        display: block;
    }

    .primaryNav li {
        width: 100%;
        padding-right: 0;
    }

    .primaryNav #home {
        width: 100%;
        position: relative;
        margin-bottom: -1em;
        margin-top: 0;
    }
}

@media screen and (min-width: 30em) {
    .primaryNav > ul > li {
        max-width: 50%;
    }
}

@media screen and (min-width: 38.5em) {
    .primaryNav > ul > li {
        max-width: 33%;
    }
}

@media screen and (min-width: 50em) {
    .primaryNav > ul > li {
        max-width: 25%;
    }
}

@media screen and (min-width: 61em) {
    .primaryNav > ul > li {
        max-width: 20%;
    }
}

@media screen and (min-width: 73em) {
    .primaryNav > ul > li {
        max-width: 16.66%;
    }
}

@media screen and (min-width: 84.5em) {
    .primaryNav > ul > li {
        max-width: 14.285%;
    }
}

@media screen and (min-width: 96em) {
    .primaryNav > ul > li {
        max-width: 12.5%;
    }
}

@media screen and (min-width: 107.5em) {
    .primaryNav > ul > li {
        max-width: 11.11%;
    }
}

@media screen and (min-width: 119em) {
    .primaryNav > ul > li {
        max-width: 10%;
    }
}

a[href$="#"] {
    cursor: default;
    color: #333;
}

.collapsed_item {
    display: none !important;
    cursor: pointer !important;
}

.expand_items a {
    color: #333 !important;
    text-align: center;
    cursor: pointer !important;
}

.main-sitemap a[href$="#"]:not(.collapsed_item, .expand_items a):before {
    content: "#";
}
.grievCont,
.grievContAppeal {
    border-radius: 15px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
}
.card2 {
    border-radius: 15px !important;
    background-color: #fff !important;
    box-shadow: rgb(23 72 139 / 44%) 0px 7px 29px 0px !important;
    border:none!important;
}
.left_panel{
    border-radius:20px!important;
    border:none!important;
}
.left_panel .nav-item:nth-child(1) .nav-link.active {
    background: #fff !important;
    border-radius: 20px 20px 0 0 !important;
    border: none !important;
}
.left_panel .nav-item .nav-link.active {
    background: #fff !important;
    border: none !important;
}

.hr {
    border: 1px solid #0000006b;
    margin: 0.7rem 0!important;
}
input[type="checkbox"]
{
    width:25px;
    height:25px
}


/*Layout page*/
.Session__timeout__popup {
    text-align: center !important;
    width: 296px !important;
    position: fixed !important;
    top: 57px !important;
    right: 20px !important;
    z-index: 9999 !important;
    height: 170px !important;
    display:none;
}
.Session__timeout__popup_dashboard {
    text-align: left;
    margin-top: 15px;
    width: 280px !important;
    position: fixed;
    top: 40px;
    right: 0;
    z-index: 9999;
    height: 165px;
    display:none;
}
/*home page*/
/*.button {
    float: right;
    background-size: 100% 100%;
    cursor: pointer;
    border: none;*/ /*noness*/
    /*width: 200px;
    height: 200px;
    vertical-align: middle;*/ /* align the text vertically centered */
/*}*/

.emailMsg {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 5px;
    background: #6e0747;
    text-align: center;
}
/*
.layoutSection {
    background-color: #3F51B5;
    color: rgb(255, 255, 255);
    opacity: 5;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}*/

.home_Index_Request 
{
    color: #0c4bFF;
    font-weight: 900;
}
.fs-7
{
    font-size:15px;
}
.fs-14 {
    font-size: 22px;
}
.color-footer-bottom {
    color: #f3f19c;
}
.hr-hidden 
{
    height: 1px;
    border: none;
    color: #467cbf;
    background-color: #467cbf;
}
/*login page*/
.main-content {
    background-image: none;
    background-color: whitesmoke;
}

.lang .dropdown-menu-form.show {
    min-width: 100% !important;
    transform: none !important;
    height: 300px !important;
    overflow-y: scroll !important;
}

.toggleEffects {
    background-color: #8490a6 !important;
}

.lang a {
    border: 1px solid #b3bac7 !important;
    background: #e8f0fe !important;
}

.dropdown-menu-form a {
    font-size: 15px !important;
    color: #0f2a77 !important;
    font-weight: 600 !important;
}

.lang .dropdown-menu .dropdown-item:hover {
    background-color: #0f2a77 !important;
}
.custom-p-5{
    padding:5px!important;
}
#showEye {
    font-size: 16px;
    color: #313131;
    transition: color 0.3s ease-in-out;
    cursor: pointer
}

/* dashboard */
.lodge-checkbox {
    width: 25px;
    height: 25px;
}
.font-weight-600 {
    font-weight: 600;
    text-align: justify;
    background-color: Highlight;
}
.padding-25 {
    padding-left:25px!important
}
/*span.select2.select2-container.select2-container--default {
    width: 500px !important;
}*/

/*====== New Registration form ======*/
@media (max-width:540px) {
    .min-width-60-Percent {
        min-width: 100% !important;
    }
}
input[type="radio"]
{
    width:20px!important;
    height:20px!important
}
.fs-x
{
    font-size:0.6725rem!important;
    font-weight:600;
    padding: 7px 7px;
    border-radius:50%;
    border:1px solid #000;
}
.register-page {
    max-width: 500px;
    margin: 10px auto;
    width: 100%;
    box-shadow: 0 0 2px #ccc;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 25px !important;
}

.register-page h2 {
    text-align: left;
    padding: 15px 0 0 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #001c5a;
}

.register-page .alert {
    margin-bottom: 0rem !important;
    padding: 1rem 0 0 0 !important;
}

.register-page .alert h5 {
    font-size: 15px !important;
}
.min-width-85-Percent {
    min-width: 90% !important;
}

.min-width-60-Percent {
    min-width: 60% !important;
}

.min-width-custom-Percent {
    min-width: 40% !important;
}



.min-width-15-Percent {
    min-width: 10% !important;
}

.input-validation-error {
    border-style: solid;
    border-color: #ff0000;
}

.fieldset_country {
    width: 100% !important;
    border: 1px groove #ddd;
    padding: 0.4rem 0 0.4em 0 !important;
    margin: 0 0 0.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.input-group-text {
    border-radius: 0 !important;
    background-color: #d2d2d2
}

.impMsg {
    font-weight: 700 !important;
    color: #ac1616 !important;
    font-size: 14px;
}


.w-40 {
    width: 40%;
    text-align:center;
}

.w-60 {
    width: 60%;
}
.chatbot {
    background-color: #fff4e0;
    height: 200px;
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
}

    .chatbot .chatbot-AI-title {
        line-height: 14px;
        margin-left: 0px;
        font-size: 16px;
        color: #000;
        font-weight: 700 !important;
        text-align: center;
    }
.chatbot:hover .chatbot-AI-title
{
    color: #ae1212;
}
.chatbot-title {
    font-size: 14.5px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin:0;
}
.chatbot h6 {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
.hindi {
    font-family: "Noto Sans Devanagari", sans-serif;
    font-weight: 600 !important;
    font-size: 16px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.modal {
    background: rgba(55,55,55,.76);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.closed {
    background-color: #fff;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}



#qrModal .modal-content .qr-img {
    width: 200px;
}
.aStore,
.gStore {
    width: 150px;
}

.hr-app {
    border: 1px dashed #0000006b!important;
}

.download-link
{
    display:none;
}

@media (max-width:768px) {
    #qrModal .modal-content .qr-img {
        width: 150px;
    }

    .download-link {
        display: block
    }
}
@media (max-width:375px) {
    #qrModal .modal-content .qr-img {
        width: 120px;
    }
    .aStore,
    .gStore {
        width: 120px;
    }
}

